<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <title>Myblog</title>
    <script>
      const search = location.search;
      const params = new URLSearchParams(search);
      const id = params.get("id"); //post 의 아이디
      const user_login = localStorage.getItem("user_login");
      let post_username;

      $(document).ready(function () {
        if (!localStorage.getItem("token")) {
          alert("로그인이 필요합니다.");
          location.href = "/login";
        }
        get_post();
        get_comments();
      });

      //게시글 정보 가져오기
      function get_post() {
        $.ajax({
          type: "GET",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/posts/${id}`,
          data: {},
          success: function (post) {
            const username = post.username;
            const title = post.title;
            const content = post.content;
            console.log(username, title, content);
            make_post(username, title, content);

            if (username !== user_login) {
              document.getElementById("btn-modify").style = "display:none";
            } else {
              document.getElementById("btn-modify").style = "display:block";
            }
          },
        });
      }

      //게시글 삽입
      function make_post(username, title, content) {
        let temp_html = `
          <h2 id="data-username" style="display:none">${username}</h2>
          <h4  style="text-align: right;">${user_login} 님 반갑습니다</h4>
          <h2>제목</h2>
          <h4>${title}</h4>
          <h2>내용</h2>
          <h4>${content}</h4>`;
        $("#post-content").append(temp_html);
      }

      //댓글 정보 가져오기
      function get_comments() {
        $.ajax({
          type: "GET",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/comments/${id}`,
          data: {},
          success: function (comments) {
            for (let i = 0; i < comments.length; i++) {
              const comment_id = comments[i].id;
              const username = comments[i].username;
              const text = comments[i].text;
              const createdAt = comments[i].createdAt;
              make_comments(i, username, text, createdAt, comment_id);
              console.log(username, text);
            }
          },
        });
      }

      function commment_toggle(id) {
        if (document.getElementById(`d-${id}`).style.display == "none") {
          document.getElementById(`d-${id}`).style = "display:block";
          document.getElementById(`m-${id}`).style = "display:none";
        } else {
          document.getElementById(`d-${id}`).style = "display:none";
          document.getElementById(`m-${id}`).style = "display:block";
        }
      }

      // 가져온 댓글들을 Table Rows로 삽입.
      function make_comments(num, username, text, createdAt, comment_id) {
        if (user_login === username) {
          let temp_html = `
            <tr id="d-${comment_id}" style="display: block; text-align:left" >
                <td width="50">${username}</td>
                <td width="250" >${text}</td>
                <td><button onclick="commment_toggle('${comment_id}')">수정</button><button onclick="delete_comment('${comment_id}')">삭제</button></td>
            </tr>
            <tr id="m-${comment_id}" style="display: none">
              <td width="50" text-align:left>${username}</td>
              <td width="250"><input id="mc-${comment_id}" type="text" value="${text}"></td>
              <td><button onclick="modify_comment('${comment_id}')">완료</button></td>
            </tr>
            `;
          $("#tbody-box").append(temp_html);
          // document.getElementById('comment_id').onclick = delete_comment(comment_id);
        } else {
          let temp_html = `
            <tr style="display: block; text-align:left" >
                <td width="50">${username}</td>
                <td width="250">${text}</td>
                <input type="text" value="${text}">
            </tr>`;
          $("#tbody-box").append(temp_html);
        }
      }

      //댓글 작성
      function insert_comment() {
        const text = $("#input_comment").val();

        $.ajax({
          type: "POST",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/comments/${id}`,
          data: JSON.stringify({ text }),
          contentType: "application/json",
          success: function (response) {
            console.log(response);
            location.href = `/detail?id=${id}`;
          },
          error: function () {
            alert("댓글을 입력하세요");
          },
        });
      }

      //댓글 삭제
      function delete_comment(comment_id) {
        if (confirm("댓글을 삭제 할건가요?") == true) {
          $.ajax({
            type: "DELETE",
            beforeSend: function (xhr) {
              xhr.setRequestHeader(
                "Authorization",
                localStorage.getItem("token")
              );
            },
            url: `/comments/${comment_id}`,
            data: {},
            success: function (response) {
              alert("댓글 삭제 완료");
              console.log(response);
              location.href = `/detail?id=${id}`;
            },
            error: function () {
              alert("error");
            },
          });
        }
      }

      //댓글 수정
      function modify_comment(comment_id) {
        const text = $(`#mc-${comment_id}`).val();
        alert(text);
        $.ajax({
          type: "PUT",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/comments/${comment_id}`,
          data: JSON.stringify({ text }),
          contentType: "application/json",
          success: function (response) {
            console.log("댓글 수정 완료");
            window.location.reload();
          },
          error: function () {
            // alert("error");
          },
        });
      }

      //게시글 수정
      function modify_post() {
        if (post_username !== user_login) {
          document.getElementById("btn-modify").style = "display:none";
          // return alert("작성자가 아닙니다.");
        } else {
          document.getElementById("btn-modify").style = "display:none";
        }
        location.href = `/modify?id=${id}`;
      }
    </script>
  </head>
  <body>
    <div style="width: 500px; margin: auto">
      <div>
        <button id="btn-modify" onclick="modify_post()" style="display: none">
          수정하기
        </button>
        <button style="display: inline-block" onclick="history.back();">
          뒤로가기
        </button>
      </div>
      <div id="post-content" style="text-align: center; margin-bottom: 50px">
        <!-- Insert Post-->
      </div>
      <div id="postList" class="mb-3" style="width: 100%">
        <table class="table" style="margin-left: 50px">
          <thead class="thead-light">
            <tr style="display: block; margin-left: 50px"></tr>
          </thead>
          <tbody id="tbody-box">
            <!-- Insert Table Rows-->
          </tbody>
        </table>
        <div style="display: block; margin: auto">
          <input
            type="text"
            id="input_comment"
            style="margin-left: 100px; margin-top: 40px; width: 40%"
          />
          <button onclick="insert_comment()">댓글 작성</button>
        </div>
      </div>
    </div>
  </body>
</html>
