<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <title>CRUD 주특기 사전과제</title>
    <script>
      const search = location.search;
      const params = new URLSearchParams(search);
      const id = params.get("id"); //post 의 아이디
      const user_login = localStorage.getItem("user_login");

      $(document).ready(function () {
        if (!localStorage.getItem("token")) {
          alert("로그인이 필요합니다.");
          location.href = "/login";
        }
        get_post();
        get_comments();
      });

      //게시글 정보 가져오기
      function get_post() {
        $.ajax({
          type: "GET",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/posts/${id}`,
          data: {},
          success: function (post) {
            const username = post.username;
            const title = post.title;
            const content = post.content;
            console.log(username, title, content);
            make_post(username, title, content);
          },
        });
      }

      //댓글 정보 가져오기
      function get_comments() {
        $.ajax({
          type: "GET",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/comments/${id}`,
          data: {},
          success: function (comments) {
            for (let i = 0; i < comments.length; i++) {
              const comment_id = comments[i].id;
              const username = comments[i].username;
              const text = comments[i].text;
              const createdAt = comments[i].createdAt;
              make_comments(i, username, text, createdAt, comment_id);
              console.log(username, text);
            }
          },
        });
      }

      // 가져온 댓글들을 Table Rows로 삽입.
      function make_comments(num, username, text, createdAt, comment_id) {
        if (user_login === username) {
          let temp_html = `
            <tr id="word-${num}">
                <td>${username}</td>
                <td>${text}</td>
                <td>${createdAt}</td>
                <td><button id=${comment_id}">삭제</button></td>
            </tr>`;
          $("#tbody-box").append(temp_html);
          document.getElementById('comment_id').onclick = delete_comment(comment_id);
        } else {
          let temp_html = `
            <tr id="word-${num}">
                <td>${username}</td>
                <td>${text}</td>
                <td>${createdAt}</td>
            </tr>`;
          $("#tbody-box").append(temp_html);
        }
        
      }

      //게시글 삽입
      function make_post(username, title, content) {
        let temp_html = `
          <h2>${user_login} 님 반갑습니다</h2>
          <h2>제목</h2>
          <h4>${title}</h4>
          <h2>내용</h2>
          <h4>${content}</h4>`;
        $("#post-content").append(temp_html);
      }

      //댓글 작성
      function insert_comment() {
        const text = $("#input_comment").val();

        $.ajax({
          type: "POST",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/comments/${id}`,
          data: JSON.stringify({ text }),
          contentType: "application/json",
          success: function (response) {
            console.log(response);
            location.href = `/detail?id=${id}`;
          },
          error: function () {
            alert("아이디 또는 비밀번호를 확인하세요.");
          },
        });
      }

      //댓글 삭제
      function delete_comment(comment_id) {
        alert("삭제버튼클릭");
        $.ajax({
          type: "DELETE",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/comments/${comment_id}`,
          data: {},
          success: function (response) {
            console.log(response);
            location.href = `/detail?id=${id}`;
          },
          error: function () {
            alert("error");
          }
        });
      }
  
    </script>
  </head>
  <body>
    <div style="width: 500px; margin: auto">
      <div id="post-content">
        <!-- Insert Post-->
      </div>
      <div id="postList" class="mb-3">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">작성자</th>
              <th scope="col" style="width: 30%">댓글</th>
              <th scope="col">작성 날짜</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="tbody-box">
            <!-- Insert Table Rows-->
          </tbody>
        </table>
        <input type="text" id="input_comment" />
        <button onclick="insert_comment()">댓글 작성</button>
      </div>
      <button onclick="location.href = '/'">뒤로가기</button>
    </div>
  </body>
</html>
