<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <title>Myblog</title>
    <script>
      // Html 파일이 전부 로딩되었을 경우 실행
      $(document).ready(function () {
        if (!localStorage.getItem("token")) {
          alert("로그인이 필요합니다.");
          location.href = "/login";
        }
        get_posts();
      });

      // Posts를 가져온다.
      function get_posts() {
        $("#tbody-box").empty(); // 상품창의 리스트를 삭제한다.
        $.ajax({
          type: "GET",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/posts`,
          data: {},
          success: function (response) {
            //카테고리에 해당하는 goods를 가지고 온다.
            let posts = response;
            for (let i = 0; i < posts.length; i++) {
              const _id = posts[i]["_id"];
              const username = posts[i]["username"];
              const title = posts[i]["title"];
              const content = posts[i]["content"];
              const createdAt = posts[i]["createdAt"];
              console.log(_id, username, title, content, createdAt);
              make_post(
                posts.length - i,
                _id,
                username,
                title,
                content,
                createdAt
              );
            }
          },
        });
      }
      // 가져온 Posts를 Table Rows로 삽입한다.
      function make_post(num, _id, username, title, content, createdAt) {
        let temp_html = `
            <tr id="word-${_id}">
                <td style="text-align:center">${num}</td>
                <td style="text-align:center">${username}</td>
                <td style="text-align:center"><a href="/detail?id=${_id}">${title}</a></td>
                <td style="text-align:right">${createdAt}</td>
            </tr>`;
        $("#tbody-box").append(temp_html);
      }

      function logout(){
        localStorage.clear();
        alert('로그아웃 되었습니다.');
        location.href = "/login";
      }

    </script>
    <style>
      .card {
        cursor: pointer;
      }

      html {
        overflow: auto;
      }
    </style>
  </head>

  <body>
    <body style="width:800px; margin:auto;">
      <div id="postList" class="mb-3" style="margin:auto; margin-top: 50px;">
        <h1 style="text-align: center;">리암 블로그</h1>
        <table class="table" style="display: block;">
          <thead class="thead-light">
            <tr ">
              <th scope="col">#</th>
              <th scope="col" style="width: 30%">작성자</th>
              <th scope="col" width="250">게시글</th>
              <th scope="col">작성날짜</th>
            </tr>
          </thead>
          <tbody id="tbody-box">
            <!-- Insert Table Rows-->
          </tbody>
        </table>
      </div>
      <div style="margin-left:30%; margin-top:30px;">
        <button onClick="location.href='./write'">게시글 작성</button>
        <button onClick="logout()">로그아웃</button>
      </div>
    </div>
  </body>
</html>
