<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>

    <script>
      const search = location.search;
      const params = new URLSearchParams(search);
      const id = params.get("id"); //post 의 아이디
      const user_login = localStorage.getItem("user_login");

      $(document).ready(function () {
        if (!localStorage.getItem("token")) {
          alert("로그인이 필요합니다.");
          location.href = "/login";
        }
        get_post();
      });

      function get_post() {
        
        $("#tbody-box").empty(); // 상품창의 리스트를 삭제한다.
        $.ajax({
          type: "GET",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/posts/${id}`,
          data: {},
          success: function (response) {
            //카테고리에 해당하는 goods를 가지고 온다.
            let post = response;
              const _id = post["_id"];
              const username = post["username"];
              const title = post["title"];
              const content = post["content"];
              const createdAt = post["createdAt"];
              // console.log(_id, username, title, content, createdAt);

              $("#title").val(title);
              $("#content").val(content);
            }
        });
      }
      
      function modify_post() {
        const post = {
          title: $("#title").val(),
          content: $("#content").val(),
        };

        $.ajax({
          type: "PUT",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(
              "Authorization",
              localStorage.getItem("token")
            );
          },
          url: `/posts/${id}`,
          data: JSON.stringify(post),
          contentType: "application/json",
          success: function (response) {
            alert('글 수정 완료!')
            // history.back();
            // window.location.reload();
             location.href = "/";
          },
        });
      }
    </script>
  </head>
  <body>
    <div style="width:500px; margin:auto;">
      <p>제목 : <input type="text" id="title" /></p>
      <p>내용 : <input type="text" id="content" /></p>
      <button id="btn-login" onclick="modify_post()">수정완료</button>
      <button id="btn-signup" onclick="history.back()">취소</button>
    </div>
  </body>
</html>
