<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <title>Myblog</title>

    <script>
      function signup() {
        const user = {
          username: $("#username").val(),
          password: $("#password").val(),
          password_check: $("#password_check").val(),
        };
        if(user.password !== user.password_check){
          return alert("비밀번호가 일치하지 않습니다.");
        }

        $.ajax({
          type: "POST",
          url: `/auth/signup`,
          data: JSON.stringify(user),
          contentType: "application/json",
          success: function (response) {
            alert("회원가입 완료");
            location.href = "/login";
          },
          error: function (response) {
            alert(response.responseJSON['message']['msg']);
          },
        });
      }
    </script>
  </head>
  <body>
    <div style="width: 500px; margin: auto">
      <p>Nickname : <input type="text" id="username" /></p>
      <p>Password : <input type="password" id="password" /></p>
      <p>Password 확인 : <input type="password" id="password_check" /></p>
      <button onclick="signup()">완료</button>
    </div>
  </body>
</html>
